#aab iframe {
  border: none;
  width: 90%;
  height: 350px;
}
#aab .square {
  text-align: center;
  margin-bottom: 20px;
}
#aab .panel-body {
  padding: 15px 0 15px 0;
}
#aab .list-group.liked .list-group-item {
  background: darkseagreen;
}
#aab .list-group.disliked .list-group-item {
  background: palevioletred;
}
#aab .address {
  font-size: 12px;
  overflow: hidden;
}
#aab .address .adr div {
  float: left;
  margin-right: 5px;
}
#aab .top {
  height: 402px;
  margin-bottom: 60px;
}
#aab .top .callout {
  background: url(../img/bg/callout.png);
  padding: 20px;
  width: 68%;
  min-height: 272px;
  position: relative;
  top: 55px;
  left: 40px;
}
#aab .top .callout h1,
#aab .top .callout h2,
#aab .top .callout p {
  color: #ffffff;
}
#aab .top .callout p {
  padding-right: 60px;
}
#aab .top .callout a {
  border-radius: 0;
  padding: 10px 40px;
}
#aab .top.home {
  background: url('../img/bg/detroit_bg.jpg') no-repeat;
  background-position: right;
}
#aab .top.location {
  background: url('../img/bg/adoba.jpg') no-repeat;
  background-position: right;
}
#aab .top.session {
  background: url('../img/bg/sessions.jpg') no-repeat;
  background-position: right;
}
#aab .top.speaker {
  background: url('../img/bg/speakers.jpg') no-repeat;
  background-position: left;
}
#aab .top.team {
  background: url('../img/bg/team.jpg') no-repeat;
  background-position: left;
}
#aab .top.sponsor {
  background: url('../img/bg/sponsors.jpg') no-repeat;
  background-position: left;
}
#aab .home .sponsors .col-lg-3 {
  text-align: center;
  height: 130px;
  vertical-align: middle;
}
#aab .home .sponsors .col-lg-3 img {
  width: 130px;
}
#aab .home .sponsors .col-lg-3 h3 {
  display: none;
}
#aab .home .register-btn {
  width: 50%;
  margin: 25px auto 0 auto;
}
#aab .home .coming-soon {
  background: url("../img/coming_soon.png") no-repeat left center;
  background-size: 100%;
  width: 150px;
  height: 84px;
  display: inline-block;
  position: relative;
  left: 185px;
  top: -60px;
  text-indent: -9999px;
  transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  /* IE 9 */

  -webkit-transform: rotate(-10deg);
  /* Safari and Chrome */

}
#aab .accept .tab-pane {
  border: 1px solid #cccccc;
  padding: 10px;
}
#aab .nav .user-login .dropdown-menu {
  padding: 15px;
  padding-bottom: 0px;
  width: 300px;
}
#aab .nav .user-login .dropdown-menu ul {
  padding: 0 0 20px 0;
  margin: 0;
  list-style-type: none;
}
#aab .navbar {
  padding: 10px 0 10px 0;
  margin-bottom: 0;
  background: #FFFFFF;
}
#aab .navbar-nav {
  margin: 14px 0 0 0;
}
#aab .navbar .navbar-nav a {
  color: #000000;
}
#aab .navbar .navbar-nav a.register {
  padding: 6px;
  color: #ffffff;
  margin: 9px 0 0 10px;
  text-transform: uppercase;
}
#aab .navbar .navbar-nav a.register:hover {
  background-color: #2d6ca2;
}
#aab .navbar .navbar-nav > .active > a {
  background: none;
  color: #2b99ce;
}
#aab .navbar-brand {
  background: url("../img/logo/agilelogo2.png") no-repeat left center;
  display: inline-block;
  width: 298px;
  height: 61px;
  text-indent: -9999px;
  margin: 10px 10px 0 5px;
}
#aab img.pull-left {
  margin-right: 15px;
}
#aab .session-description {
  display: block;
  margin-top: 5px;
  padding: 5px;
}
#aab .location address ul {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}
#aab .location address ul li {
  list-style: none;
}
#aab .panel {
  zoom: 1;
}
#aab .table-bordered {
  border: 1px solid #000;
}
#aab .table-bordered > thead > tr > th,
#aab .table-bordered > tbody > tr > th,
#aab .table-bordered > tfoot > tr > th,
#aab .table-bordered > thead > tr > td,
#aab .table-bordered > tbody > tr > td,
#aab .table-bordered > tfoot > tr > td {
  border: 1px solid #000;
}
#aab .list-group-item .list-group-item-text {
  word-wrap: normal;
  font-family: inherit;
  line-height: 1.4em;
}
#aab .list-group-item a {
  margin: 8px 0;
  display: inline-block;
}
#aab .list-group-item a.reviewBtn {
  margin: -5px 0 0 0;
}
#aab .list-group-item .presenter-information ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#aab .list-group-item .presenter-information ul li {
  list-style-type: none;
}
#aab #leader_table,
#aab #small_leader_table {
  margin: 35px 0 0 0;
}
#aab #leader_table table .include,
#aab #small_leader_table table .include {
  background: darkseagreen;
}
#aab #leader_table table .probable,
#aab #small_leader_table table .probable {
  background: #ffff00;
}
#aab #leader_table table .out,
#aab #small_leader_table table .out {
  background: red;
}
#aab #leader_table table a,
#aab #small_leader_table table a {
  color: #000000;
  text-decoration: underline;
}
#aab #leader_table table .organization,
#aab #small_leader_table table .organization {
  background: #0066bb;
}
#aab #leader_table table .agile.engineering,
#aab #small_leader_table table .agile.engineering {
  background: indianred;
}
#aab #leader_table table .team,
#aab #small_leader_table table .team {
  background: aquamarine;
}
#aab #leader_table table .personal.development,
#aab #small_leader_table table .personal.development {
  background: #ffff00;
}
.sessions .no-data {
  padding: 10px;
  background: #ffffff;
}
.sessions .list-group {
  padding: 10px;
  background: #ffffff;
}
.review {
  width: 350px;
  border: 1px solid #ccc;
  border-radius: 8px;
  position: absolute;
  z-index: 1000;
  right: 60px;
  background: #ffffff;
  /* Old browsers */

  background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e5e5e5));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=0);
  /* IE6-9 */

  -webkit-box-shadow: 0px 5px 15px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 5px 15px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 5px 15px rgba(50, 50, 50, 0.75);
}
.review header {
  border-radius: 7px 7px 0px 0px;
  font-size: 0.8em;
  margin: 0 0 0 0;
  padding: 8px;
  font-weight: bold;
  background: #feffff;
  /* Old browsers */

  background: -moz-linear-gradient(top, #feffff 0%, #ddf1f9 35%, #a0d8ef 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #feffff), color-stop(35%, #ddf1f9), color-stop(100%, #a0d8ef));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #feffff 0%, #ddf1f9 35%, #a0d8ef 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #feffff 0%, #ddf1f9 35%, #a0d8ef 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #feffff 0%, #ddf1f9 35%, #a0d8ef 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #feffff 0%, #ddf1f9 35%, #a0d8ef 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#feffff', endColorstr='#a0d8ef', GradientType=0);
  /* IE6-9 */

}
.review header a span {
  font-size: 1.1em;
}
.review header a:hover {
  text-decoration: none;
}
.review header .title {
  display: inline-block;
  padding-right: 20px;
}
.review article {
  padding: 8px;
}
.review article ul {
  margin: 0 0 5px 0;
  padding: 0;
  list-style: none;
}
.review article ul li {
  list-style-type: none;
  font-size: 0.9em;
}
.review article ul li .content_rating i {
  color: darkgreen;
}
.review article ul li .speaker_rating i {
  color: orangered;
}
.review article ul li .applicability_rating i {
  color: royalblue;
}
.review article .review-comment {
  width: 98%;
  font-size: 12px;
  min-height: 100px;
  padding: 5px;
}
.review footer {
  padding: 8px;
}
.admin #session_table {
  margin-top: 50px;
}
.admin .dash-widget {
  overflow: hidden;
}
.admin .dash-widget img {
  margin: 0 auto;
  width: 48px;
  height: 48px;
  float: left;
  margin-right: 8px;
}
.admin .dash-widget .data-content {
  float: left;
}
.admin .dash-widget .data-content h5 {
  border-bottom: 1px #333 dotted;
  margin: 0 0 8px 0;
  color: #2b99ce;
}
.admin .dash-widget .data-content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
}
.admin .dash-widget .data-content ul li {
  list-style-type: none;
}
.fixsessions td,
.fixsessions th {
  padding: 5px;
}
