#aab {

    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */

  .navbar {
    padding: 10px 0 10px 0;
    margin-bottom: 0;
    background: #FFFFFF;
  }

  .sponsor_block {
    clear: both;

    img {
      width: 170px;
    }
  }

  @media (max-width: 1000px) {
    padding-top: 0;

    .speaker_block {
      h4 {
        font-size: 0.9em;
      }
    }

    .sponsor_block {
      img {
        width: 95px;
      }
    }

    .panel-default {
      border: none;
    }

    .list-group {
      list-style-type: none;
      border: none;
      margin: 0 -36px 0 -36px;
      padding: 0;

      li {
        padding: 5px;
        list-style-type: none;

        &:nth-child(odd) {
          background-color: #ccc;
        }

        h5 {

        }
      }
    }

    .navbar {
      padding: 0;
      margin-bottom: 8px;
      background: transparent;
    }

    .navbar-toggle .icon-bar {
      display: block;
      width: 22px;
      height: 2px;
      border-radius: 1px;
      border: 1px solid #0066bb;
    }

    .top {
      display: none;
    }

  }

  iframe {
    border: none;
    width: 90%;
    height: 350px;
  }
  .square {

      text-align: center;
      margin-bottom: 20px;

  }

  .panel-body {
    padding: 15px 0 15px 0;
  }
  .list-group {
    &.liked {
      .list-group-item {
        background: darkseagreen;
      }
    }

    &.disliked {
      .list-group-item {
        background: palevioletred;
      }
    }
  }
  .address {
    font-size: 12px;
    overflow: hidden;

    .adr {
      div {
        float: left;
        margin-right: 5px;
      }
    }
  }

 .top {

    height: 312px;
    margin-bottom: 60px;

    .callout {
      background: url(../img/bg/callout.png);
      padding: 20px;
      width: 68%;
      min-height: 272px;
      position: relative;
      top: 25px;
      left: 40px;

      h1, h2, p {
        color: #ffffff;
      }

      p {
        padding-right: 60px;
      }

      a {
        border-radius: 0;
        padding: 10px 40px;
      }

    }

   &.home {
     background: url('../img/bg/detroit_bg.jpg') no-repeat;
     background-position: right;
   }

   &.location {
     background: url('../img/bg/adoba.jpg') no-repeat;
     background-position: right;
   }

   &.session {
     background: url('../img/bg/sessions.jpg') no-repeat;
     background-position: right;
   }

   &.speaker {
     background: url('../img/bg/speakers.jpg') no-repeat;
     background-position: left;
   }

   &.team {
     background: url('../img/bg/team.jpg') no-repeat;
     background-position: left;
   }

   &.sponsor {
     background: url('../img/bg/sponsors.jpg') no-repeat;
     background-position: left;
   }
  }


  .home {

    .sponsors {
      .col-lg-3 {
        text-align: center;
        height: 130px;
        vertical-align: middle;

        img {
          width: 130px;

        }

        h3 {
          display: none;
        }
      }
    }

    .specials {
      margin: 50px 0 0 -30px;

      .silver {
        h3 {
          display: none;
        }

        img {
          width: 140px;
        }
      }
    }




    .register-btn {
      width: 50%;
      margin: 25px auto 0 auto;
    }
    .coming-soon {
      background: url("../img/coming_soon.png") no-repeat left center;
      background-size: 100%;
      width: 150px;
      height: 84px;
      display: inline-block;
      position: relative;
      left: 185px;
      top: -60px;
      text-indent: -9999px;
      transform: rotate(-10deg);
      -ms-transform: rotate(-10deg); /* IE 9 */
      -webkit-transform: rotate(-10deg); /* Safari and Chrome */
    }
  }


  .accept {
    .tab-pane {
      border: 1px solid #cccccc;
      padding: 10px;
    }
  }

  .nav {



    .user-login {
      .dropdown-menu {
        padding: 15px;
        padding-bottom: 0px;
        width: 300px;

        ul {
          padding: 0 0 20px 0;
          margin: 0;
          list-style-type: none;
        }
      }
    }
  }


  .navbar-nav {
    margin: 14px 0 0 0;
  }

  .navbar .navbar-nav a {
    color: #000000;
  }

  .navbar .navbar-nav a.register {
    padding: 6px;
    color: #ffffff;
    margin: 9px 0 0 10px;
    text-transform: uppercase;

    &:hover {
      background-color: #2d6ca2;
    }

  }

  .navbar .navbar-nav>.active>a {
    background: none;
    color: #2b99ce;
  }
  .navbar-brand {
    background: url("../img/logo/agilelogo2.png") no-repeat left center;
    display: inline-block;
    width: 298px;
    height: 61px;
    text-indent: -9999px;
    margin: 10px 10px 0 5px;
  }

  @media (max-width: 1000px) {



    .navbar-brand {
      background: url("../img/bg/square_logo.png") no-repeat left center;
      width: 60px;
      height: 60px;
      margin: 0 0 0 15px;
      background-size: 100%;
    }
  }

  img.pull-left {
    margin-right: 15px;
  }

.session-description {
  display: block;
  margin-top: 5px;
  padding: 5px;
}

.location {
    address ul {
      width: 100%;
      list-style: none;
      margin: 0;
      padding: 0;

        li {
          list-style: none;
        }

    }
  }
  
  
  .panel {
    zoom: 1;
  }

  .table-bordered {
    border: 1px solid #000;
  }

  .table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
    border: 1px solid #000;
  }

  .list-group-item {
    .list-group-item-text {
      word-wrap: normal;
      font-family: inherit;
      line-height: 1.4em;
    }

    a {
      margin: 8px 0;
      display: inline-block;

      &.reviewBtn {
        margin: -5px 0 0 0;
      }
    }

    .presenter-information {

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
          list-style-type: none;
        }
      }
    }
  }


  #leader_table,#small_leader_table {
    margin: 35px 0 0 0;


    table {
      .include {
        background: darkseagreen;
      }

      .probable {
        background: #ffff00;
      }

      .out {
        background: red;
      }

      a {
        color: #000000;
        text-decoration: underline;
      }

      .organization {
        background: #0066bb;
      }

      .agile.engineering {
        background: indianred;
      }

      .team {
        background: aquamarine;
      }

      .personal.development {
        background: #ffff00;
      }


    }
  }

}

.sessions {
  .no-data {
    padding: 10px;
    background: #ffffff;
  }

  .list-group {
    padding: 10px;
    background: #ffffff;
  }


}

.review {
  width: 350px;
  border: 1px solid #ccc;
  border-radius: 8px;
  position: absolute;
  z-index: 1000;
  right: 60px;
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */


  -webkit-box-shadow: 0px 5px 15px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 5px 15px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 5px 15px rgba(50, 50, 50, 0.75);

  header {
    border-radius: 7px 7px 0px 0px;
    font-size: 0.8em;
    margin: 0 0 0 0;
    padding: 8px;
    font-weight: bold;
    background: rgb(254,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(254,255,255,1) 0%, rgba(221,241,249,1) 35%, rgba(160,216,239,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,255,255,1)), color-stop(35%,rgba(221,241,249,1)), color-stop(100%,rgba(160,216,239,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(221,241,249,1) 35%,rgba(160,216,239,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(221,241,249,1) 35%,rgba(160,216,239,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(221,241,249,1) 35%,rgba(160,216,239,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(254,255,255,1) 0%,rgba(221,241,249,1) 35%,rgba(160,216,239,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#a0d8ef',GradientType=0 ); /* IE6-9 */

    a {
      span {
        font-size: 1.1em;
      }

      &:hover {
        text-decoration: none;
      }
    }

    .title {
      display: inline-block;
      padding-right: 20px;
    }
  }

  article {
    padding: 8px;


    ul {
      margin: 0 0 5px 0;
      padding: 0;
      list-style: none;

      li {
        list-style-type: none;
        font-size: 0.9em;

        .content_rating i {
          color: darkgreen;
        }

        .speaker_rating i {
          color: orangered;
        }

        .applicability_rating i {
          color: royalblue;
        }
      }
    }


    .review-comment {
      width: 98%;
      font-size: 12px;
      min-height: 100px;
      padding: 5px;
    }
  }

  footer {
    padding: 8px;
  }
}

.admin {


  #session_table {
    margin-top: 50px;
  }

  .dash-widget  {
    overflow: hidden;

    img {
      margin: 0 auto;
      width: 48px;
      height: 48px;
      float: left;
      margin-right: 8px;
    }

    .data-content {
      float: left;

      h5 {
        border-bottom: 1px #333 dotted;
        margin: 0 0 8px 0;
        color: #2b99ce;

      }

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: left;

      li {
       list-style-type: none;
      }
    }

    }

  }
}


.fixsessions {
  td, th {
    padding: 5px;
  }
}


.session-abstract {
  pre {
    font-family: helvectica, sans-serif;
    background: white;
    border-radius: 0;
    border: none;
  }
}

.schedule-table {
  table.Basic-Table {
    border-color:#231f20;
    border-style:solid;
    border-width:1px;
    margin-bottom:-4px;
    margin-top:4px;
  }
  p.Basic-Paragraph {
    color:#231f20;
    font-family:"Minion Pro", serif;
    font-size:12px;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:1.2;
    margin-bottom:0;
    margin-left:0;
    margin-right:0;
    margin-top:0;
    orphans:1;
    page-break-after:auto;
    page-break-before:auto;
    text-align:left;
    text-decoration:none;
    text-indent:0;
    widows:1;
  }

  table tr {
    border-bottom: 1px solid #2997ce;
  }
  table td {
    border-left: 1px solid #2997ce;
    border-right: 1px solid #2997ce;
    padding: 4px;

    a {
      cursor: pointer;
    }

    &.ae {
      background: url(../img/ae_bg.jpg) repeat-y;
    }

    &.beginner {
      background: url(../img/beginner_bg.jpg) repeat-y;
    }

    &.org {
      background: url(../img/org_bg.jpg) repeat-y;
    }

    &.team {
      background: url(../img/team_bg.jpg) repeat-y;
    }

    &.perd {
      background: url(../img/perdev_bg.jpg) repeat-y;
    }

    &.pd {
      background: url(../img/proddev_bg.jpg) repeat-y;
    }



  }



  table tr td:first-child {
    border-left: none;
  }

  table tr td:last-child {
    border-right: none;
  }

  table.TableOverride-1 {
    border-color:#2997ce;
    border-width:0px;
  }
  table.TableOverride-2 {
    border-width:0.25px;
  }
  td.CellOverride-1 {
    background-color:#2997ce;
  }
  td.CellOverride-2 {
    padding-left:10px;
  }
  p.ParaOverride-1 {
    text-align:center;
  }
  span.CharOverride-1 {
    font-family:Alef, sans-serif;
    font-size:60px;
    font-style:normal;
    font-weight:normal;
  }
  span.CharOverride-2 {
    font-family:Alef, sans-serif;
    font-size:24px;
    font-style:normal;
    font-weight:bold;
  }
  span.CharOverride-3 {
    color:#2997ce;
    font-family:"Droid Sans", sans-serif;
    font-size:60px;
    font-style:normal;
    font-weight:normal;
  }
  span.CharOverride-4 {
    font-family:Alef, sans-serif;
    font-size:24px;
    font-style:normal;
    font-weight:normal;
  }
  span.CharOverride-5 {
    font-family:"Droid Sans", sans-serif;
    font-size:24px;
    font-style:normal;
    font-weight:bold;
  }
  span.CharOverride-6 {
    color:#ffffff;
    font-family:Alef, sans-serif;
    font-size:12px;
    font-style:normal;
    font-weight:bold;
  }
  span.CharOverride-7 {
    font-family:"Droid Sans", sans-serif;
    font-size:12px;
    font-style:normal;
    font-weight:normal;
  }
  span.CharOverride-8 {
    font-family:"Droid Sans", sans-serif;
    font-size:12px;
    font-style:normal;
    font-weight:bold;
  }
  span.CharOverride-9 {
    font-family:"Droid Sans", sans-serif;
    font-style:normal;
    font-weight:normal;
  }
  div._idGenPageitem-1 {
    text-align:center;
  }



}

table.tablekey {
  border:  1px solid #2997ce;

  td {
    padding: 0 8px;
    font-size: 12px;



    &.ae {
      background: url(../img/ae_bg.jpg) repeat-y;
    }

    &.beginner {
      background: url(../img/beginner_bg.jpg) repeat-y;
    }

    &.org {
      background: url(../img/org_bg.jpg) repeat-y;
    }

    &.team {
      background: url(../img/team_bg.jpg) repeat-y;
    }

    &.perd {
      background: url(../img/perdev_bg.jpg) repeat-y;
    }

    &.pd {
      background: url(../img/proddev_bg.jpg) repeat-y;
    }
  }

  th {
    background: #2997ce;
    color: #FFF;
    padding: 2px;
    font-size: 12px;
    font-family:"Droid Sans", sans-serif;
  }
}

.schedule_header {
  overflow: hidden;
}


.speakers {

  .speaker_block {
    padding: 8px;
    text-align: center;
    border-radius: 15px;
    margin-bottom: 8px;

    &:hover {
      background: #c6e6f6;
    }

    img {
      width: 30%;
    }
  }
}

.modal-dialog {
  width: 80%!important;
  margin: 20px auto!important;
}

#thanks {
  background: url('../img/full_house.jpg') no-repeat;
  background-size: 100%;

  .callout {
    img {
      width: 100%;
      max-width: 298px;
    }

    padding: 20px;
    background: #ffffff;
    width: 80%;
    border-radius: 20px;
    margin: 3% auto 0;
  }
}