<!DOCTYPE html>
<html>
<head>
    <link href="../js/thirdparty/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

<div class="container">
    <h1>Agile and Beyond Code of Conduct</h1>

    <p>The Agile & Beyond conference has always fostered an environment for the open exchange of ideas in a safe and respectful manner.  To ensure these goals we ask that all participants are aware of and adherent to these expectations.</p>

    <ul>
        <li>Be open, honest, and trustworthy</li>
        <li>Give proper credit for information sources and intellectual property</li>
        <li>If you promote a product or service provider, declare your affiliation or association</li>
        <li>Avoid harm to others - physical, emotional, or otherwise</li>
        <li>Refrain from harsh language or pointed humor that disparages the dignity and social equity of any individual or group</li>
        <li>Respect all ethical, economic, cultural, legal, and environmental norms</li>
        <li>Alert conference organizers if you notice a dangerous situation or someone in distress</li>
    </ul>

    <p>Together we can maintain Agile & Beyond as a premier conference respected and appreciated by all.</p>
</div>


</body>
<head>
    <title></title>
</head>
</html>