<div class="content home panel">
    <div class="panel-body">
        <div class="top home">
            <div class="callout">
                <h2>Register Now!</h2>
                <p>Registration is now open for Agile and Beyond 2014!  Join Developers, Designers, Product Owners, Executives and others for a day of learning and leading.  We are currently developing our best program ever, so get registered today!
                </p>

                <p><a class="btn btn-primary" href="http://aab2014-es2.eventbrite.com/">Register Now!</a></p>
            </div>

        </div>
        <div class="container features">
            <div class="row">

                <div class="col-lg-4 square">
                    <img class="img-circle" src="img/bios/Joshua_Kerievsky_square.jpg" alt="Joshua_Kerievsky" style="height: 150px; width: 150px;">
                    <h2>Joshua Kerievsky</h2>
                    <p>We are excited to announce this year's Keynote speaker as Joshua Kerievsky! Josh is passionate about excellent software and discovering better/faster processes for producing it. He is an entrepreneur, author, programmer and globally recognized expert in Extreme Programming and Lean Software Development.</p>
                    <!--<p><a class="btn btn-default" href="#" role="button">View details »</a></p>-->
                </div>

                <div class="col-lg-4 square">
                    <img  src="img/sponsors/logoAtlassian_nowords.png" alt="Platinum Sponsor: Atlassian" style="height: 150px; width: 150px;">
                    <h2>Atlassian</h2>
                    <p>Millions of users globally rely on Atlassian products every day for improving software development, project management, collaboration, and code quality.</p>
                    <!--<p><a class="btn btn-default" href="#" role="button">View details »</a></p>-->
                </div>

                <div class="col-lg-4 square">
                    <img class="img-circle" src="img/adoba_exterior_square.jpg" alt="Adoba Hotel" style="height: 150px; width: 150px;">
                    <h2>Adoba Hotel</h2>
                    <p>Built in a postmodern architectural style by renowned architect Charles Luckman, this environmentally friendly Detroit Metro hotel overlooks Ford World Headquarters, the Henry Ford Museum and the chic suburb of Dearborn.</p>
                    <p><a class="btn btn-default" href="#/Location" role="button">View details »</a></p>
                </div>



            </div>
        </div>
        <hr/>
  <div class="container sponsors">
      <div class="container">
          <div class="row">
              <h4>Gold Sponsors</h4>
              <div class="col-lg-3 gold">
                  <h3>Comerica</h3>
                  <img src="img/sponsors/comerica.gif"   class="gold">
              </div>

              <div class="col-lg-3 gold">
                  <h3>VersionOne</h3>
                  <img src="img/sponsors/version_one.jpg"   class="gold">
              </div>
              <div class="col-lg-3 gold">
                  <h3>Rally</h3>
                  <img src="img/sponsors/rally_dev.png"   class="gold">
              </div>
              <div class="col-lg-3 gold">
                  <h3>Solution IQ</h3>
                  <img src="img/sponsors/solutionsiq.gif"   class="gold">
              </div>
              <div class="col-lg-3 gold">
                  <h3>IBM</h3>
                  <img src="img/sponsors/ibm-posblue.png"   class="gold">
              </div>
              <div class="col-lg-3 gold">
                  <h3>Ciber</h3>
                  <img src="img/sponsors/ciber.png"   class="gold">
              </div>
              <div class="col-lg-3 gold">
                  <h3>Pillar</h3>
                  <img src="img/sponsors/PillarBlue_BusinessAgility.png"   class="gold">
              </div>

          </div>


          <div class="row">
              <h4>Silver Sponsors</h4>

              <div class="col-lg-3 silver">
                  <h3>Atomic Object</h3>
                  <img src="img/sponsors/atomic_object.jpg"   class="silver">
              </div>

              <div class="col-lg-3 silver">
                  <h3>Beacon Hill</h3>
                  <img src="img/sponsors/BH-logo.png"   class=" silver" style="vertical-align: middle; margin-top: 52px;">
              </div>

              <div class="col-lg-3 silver">
                  <h3>Borland</h3>
                  <img src="img/sponsors/Borland.jpg"   class=" silver" style="vertical-align: middle; margin-top: 52px;">
              </div>
          </div>

          <div class="row specials">
              <div class="col-lg-4">
                  <h4>Coffee Sponsor</h4>

                  <div class="col-lg-3 silver">
                      <h3>Cengage Learning</h3>
                      <img src="img/sponsors/cengage.learning.gold_.jpg"   class="coffee">
                  </div>
              </div>
              <div class="col-lg-4">
                  <h4>Wi-Fi Sponsor</h4>

                  <div class=" silver">
                      <h3>University of Michigan | Medical School Information Services</h3>
                      <img src="img/sponsors/ummedschool.png"   class="wifi">
                  </div>
              </div>

              <div class="col-lg-4">
                  <h4>Water Sponsor</h4>

                  <div class=" silver">
                      <h3>AAA Life</h3>
                      <img src="img/sponsors/AAA-Life-287-485.png"   class="water">
                  </div>
              </div>

          </div>

      </div>
  </div>


    </div>
</div>