<div class="content home panel">
    <div class="panel-body">
        <div class="jumbotron">
            <h2>Agile and Beyond 2014 </h2>
            <h5>February 22, 2014</h5>
            <div class="vcard address">
                <div class="adr">
                    <div class="org">Adoba Hotel</div>
                    <div class="street-address">600 Town Center Drive</div>
                    <div class="locality">Dearborn</div >
                    <div class="region">MI</div >
                </div>
            </div>

            <p>Welcome to the largest Agile conference in the Midwest.  If this is your first visit or even if you are a grizzled A&B veteran, you'll find a great deal!</p>
        </div>
        <div class="container col-lg-6">
            <div>
                <h2>Keynote Speaker</h2>
                <img src="img/bios/Joshua_Kerievsky_large.gif" width="150" class="img-responsive img-thumbnail pull-left">
                <h4>Joshua Kerievsky</h4>
                <p>We are excited to announce this year's Keynote speaker as Joshua Kerievsky! Josh is passionate about excellent software and discovering better/faster processes for producing it. He is an entrepreneur, author, programmer and globally recognized expert in Extreme Programming and Lean Software Development.
                <br/>
                    <a href="#Sessions/1" class="btn btn-info btn-sm">View More <span class="glyphicon glyphicon-arrow-right"></span> </a>
                </p>
            </div>
        </div>
        <div class="container col-lg-6" data-ng-show="acceptingProposals">
            <h2>Call for Proposals</h2>
            <p>Agile and Beyond 2014 will be accepting proposals starting September 30th. Due to the competitive nature of the selection process, we encourage prospective speakers to submit their proposals as early as possible. As with years past, we're looking forward to receiving your best proposals!.
                <br><br>
                <a href="#/Presenters" class="btn btn-block btn-primary btn-lg register-btn" data-ng-disabled="!acceptingProposals">Submit a proposal today!</a>
                <span class="coming-soon" data-ng-show="!acceptingProposals">coming soon</span>
            </p>
        </div>
        <div class="container col-lg-6" data-ng-show="!acceptingProposals">
            <h2>Call for Proposals has closed.  Register Now!</h2>
            <p>WOW!  Thank you so much for taking the time to submit so many great proposals.  The response was overwhelming over the past couple of days.  The quality of all the talks will make choosing a program difficult but rewarding.  Over the next couple of weeks we will meet to review the proposals and post the schedule as soon as we can.  Check back soon.  In the meantime, Early bird registration is now open!  Register today!
            <br/><br/>
                <a class="btn btn-primary register" href="http://aab2014-es2.eventbrite.com/">Register Today!</a>
            </p>
        </div>
    </div>
    <div class="panel-body" data-ng-show="hasSponsors">
        <div class="jumbotron">
            <h2>Sponsors</h2>

            <h4>Gold</h4>

            <h4>Silver</h4>

        </div>
    </div>
</div>