<div class="content location panel">
    <div class="panel-body">
       <div class="top location">
           <div class="callout">
               <h2>The Adoba Hotel</h2>
               <p>The Adoba Hotel in Dearborn, MI (Formerly the Hyatt Regency Dearborn) will be the host to this year’s conference. With the increased space that the Adoba offers will will be able to manage the conference and give you an overall better experience.

               <p>The Adoba Hotel Dearborn is a major conference center hotel located in the Metro Detroit suburb of Dearborn, Michigan at 600 Town Center Drive (Fairlane Mall), near the intersection of Michigan State Highway 39 (Southfield Freeway) and U.S. Route 12 (Michigan Ave).
           </div>
       </div>
        <div class="container features">
            <div class="row">

                <div class="col-lg-4 square">
                    <img class="img-circle" src="img/adoba_room.jpg" alt="Adoba Hotel Rooms" style="height: 150px; width: 150px;">
                    <h2>Book a room</h2>
                    <p>Although all our guestrooms follow a strict protocol for cleanliness, the Hypo-Allergenic Guestrooms bring them to a new level providing you an amazing night's sleep.  A seven-step purification process treats every surface, including the air, removing up to 99% of pollutants so you can breathe easy, and rest peacefully. PURE’s leading air-purification system protects you from airborne irritants, and eliminates odors at the source, leaving your room smelling fresh and clean.</p>
                    <p><a class="btn btn-default" href="http://adobadearborn.com/speciality-guestrooms/" role="button">Book a room »</a></p>
                </div>

                <div class="col-lg-4 square">
                    <img class="img-circle" src="img/adoba_pool.jpg" alt="Platinum Sponsor: Atlassian" style="height: 150px; width: 150px;">
                    <h2>Amenities</h2>
                    <p>Explore all this exciting locale has to offer, from nearby 18-hole golf courses to local shopping outlets.Enjoy arts and culture galore, including Motown Museum, Detroit Symphony Orchestra, Detroit Opera House, Detroit Institute of Arts, and the Fisher and Fox theatres. Whether your interests run to museums or sports and outdoor adventures, you’ll discover plenty to entertain you during your Dearborn vacation.</p>
                    <p><a class="btn btn-default" href="http://adobadearborn.com/activities-overview/" role="button">View details »</a></p>
                </div>

                <div class="col-lg-4 square">
                    <img class="img-circle" src="img/henreyford.jpg" alt="Adoba Hotel" style="height: 150px; width: 150px;">
                    <h2>Location</h2>
                    <p>
                        600 Town Center Drive,<br>
                        Dearborn, Michigan, USA 48126-2793<br>
                        Tel: +1 313 593 1234<br>
                        Fax: +1 313 593 3366
                    </p>
                    <p><a class="btn btn-default" href="http://adobadearborn.com/location/" role="button">View details »</a></p>
                </div>



            </div>
        </div>
</div>

</div>