<div class="modal-header">
            <h3>{{speaker[0].sessionTitle}} <br/><small>{{speaker[0].firstName}} {{speaker[0].lastName}}<span data-ng-show="speaker[0].copresenter">/{{speaker[0].copresenter}}</span> </small></h3>
</div>
<div class="modal-body" style="overflow: hidden">

            <div class="row col-lg-10" data-ng-show="speaker[0].sessionAbstract">


                <div class="session-abstract" data-ng-show="speaker[0].sessionAbstract">
                    <h4>Session Abstract</h4>
                    <p>{{speaker[0].sessionAbstract}}</p>
                </div>

                <div class="session-abstract" data-ng-show="speaker[0].sessionAbstract">
                    <h4>Speaker information</h4>
                    <ul>
                        <!--<li data-ng-show="speaker[0].email"><strong>Email: </strong> <a href="mailto:{{speaker[0].email}}">{{speaker[0].email}}</a></li>-->
                        <li data-ng-show="speaker[0].personalSite"><strong>Site: </strong><a href="http://{{speaker[0].personalSite}}">{{speaker[0].personalSite}}</a></li>
                        <li data-ng-show="speaker[0].twitter" class="twitter"><strong>Twitter: </strong><a href="http://www.twitter.com/{{speaker[0].twitter}}">{{speaker[0].twitter}}</a></li>
                    </ul>


                    <h4>Session Data</h4>
                    <ul>
                        <li data-ng-show="speaker[0].sessionAudience"><strong>Audience: </strong>{{speaker[0].sessionAudience}}</li>
                        <li data-ng-show="speaker[0].sessionLevel"><strong>Session Level: </strong>{{speaker[0].sessionLevel}}</li>
                    </ul>
                </div>


            </div>
</div>
<br clear="both">
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>