<div class="content admin panel">
    <div class="panel-body">

        <div class="container">
            <h1>{{sessionData[0].sessionTitle}} <br/><small>{{sessionData[0].firstName}} {{sessionData[0].lastName}}<span data-ng-show="sessionData[0].copresenter">/{{sessionData[0].copresenter}}</span> </small></h1>

            <div class="row" data-ng-show="sessionData[0].sessionAbstract">
                <h4>Speaker information</h4>
                <ul>
                    <!--<li data-ng-show="sessionData[0].email"><strong>Email: </strong> <a href="mailto:{{sessionData[0].email}}">{{sessionData[0].email}}</a></li>-->
                    <li data-ng-show="sessionData[0].personalSite"><strong>Site: </strong><a href="http://{{sessionData[0].personalSite}}">{{sessionData[0].personalSite}}</a></li>
                    <li data-ng-show="sessionData[0].twitter" class="twitter"><strong>Twitter: </strong><a href="http://www.twitter.com/{{sessionData[0].twitter}}">{{sessionData[0].twitter}}</a></li>
                </ul>
            </div>

            <div class="row col-lg-10" data-ng-show="sessionData[0].sessionAbstract">
                <h4>Session Data</h4>
                <ul>
                    <li data-ng-show="sessionData[0].sessionAudience"><strong>Audience: </strong>{{sessionData[0].sessionAudience}}</li>
                    <li data-ng-show="sessionData[0].sessionLevel"><strong>Session Level: </strong>{{sessionData[0].sessionLevel}}</li>
                </ul>

                <div class="session-abstract" data-ng-show="sessionData[0].sessionAbstract">
                    <h4>Session Abstract</h4>
                    <pre>{{sessionData[0].sessionAbstract}}</pre>
                </div>



            </div>
        </div>
    </div>
</div>