<div class="content admin panel">
    <div class="panel-body">

        <div class="container">
            <h1>Admin Dashboard</h1>


            <!-- dashboard -->
            <div class="container" data-ng-show="!isLoggedIn">

                <div class="col-lg-3 dash-widget" >
                    <img src="img/bg/sessions_icon.png" class="img-thumbnail" >
                    <div class="data-content">
                        <h5>Session Data:</h5>
                        <ul>
                            <li><a href="javascript:void(0)" data-ng-click="getSessions({})" eat-click>Submitted: {{submittedSessions}}</a></li>
                            <li><a href="javascript:void(0)" data-ng-click="getSessions({accepted: 1})" eat-click>Accepted: {{acceptedSessions}}</a></li>
                            <li><a href="javascript:void(0)" data-ng-click="getSessions({accepted: 0} || {accepted: null} || {accepted: ''})" eat-click>Not Accepted: {{declinedSessions}}</a></li>
                        </ul>
                    </div>

                </div>
                <div class="col-lg-5 dash-widget" >
                    <img src="img/leaderboard.png" class="img-thumbnail" >
                    <div class="data-content">
                        <h5>Leader Board:</h5>
                        <ul>
                            <li><a href="javascript:void(0)" data-ng-click="getLeaders($event,'null')" eat-click>View Overall Session Leaderboard</a></li>
                            <li data-ng-repeat="filter in sessionFilters"><a href="javascript:void(0)" data-ng-click="getLeaders($event,filter)" >View {{filter}} Leaderboard</a></li>
                        </ul>
                    </div>

                </div>

                <div class="col-lg-4 dash-widget" data-ng-show="filterName">
                    <h4>Key</h4>
                    <div class="data-content" id="small_leader_table" >
                        <table >
                            <tr class="agile engineering"><td>Agile Engineering</td></tr>
                            <tr class="team"><td>Team</td></tr>
                            <tr class="organization"><td>Organization</td></tr>
                            <tr class="personal development"><td>Personal Development</td></tr>
                            <tr class="include"><td>Product Development</td></tr>
                        </table>
                    </div>

                </div>

            </div>


            <div id="session_table" data-ng-show="showSessions">
                <div class="list-group {{session.selected}}" data-ng-repeat="session in allSessions | filter:filterBy" data-ng-controller="itemController">
                    <div class="list-group-item" id="{{session.id}}">

                        <a href="#" data-ng-show="auth.isAuthenticated" class="reviewBtn btn btn-primary btn-xs pull-right" data-ng-click="showVotePanel(session.id,$index,$event)" eat-click >review</a>

                        <h4 class="list-group-item-heading">{{session.sessionTitle}}</h4>
                        <pre class="list-group-item-text">{{session.sessionAbstract}}</pre>
                        <pre class="list-group-item-text" data-ng-show="session.sessionInformation">{{session.sessionInformation}}</pre>
                        <a eat-click href="javascript:void(0)" data-ng-click="session.speakerInfo = !session.speakerInfo">Presenter Information <span class="glyphicon glyphicon-arrow-right"></span> </a>
                        <div class="presenter-information alert alert-success">
                            <ul>

                                <li data-ng-show="session.firstName"><strong>Presenter: </strong> {{session.firstName}} {{session.middleName}} {{session.lastName}}</li>
                                <li data-ng-show="session.twitter"><strong>Twitter: </strong> <a href="https://www.twitter.com/{{session.twitter}}">{{session.twitter}}</a></li>
                                <li data-ng-show="session.personalSite"><strong>Personal site: </strong><a href="http://{{session.personalSite}}">{{session.personalSite}}</a></li>
                                <li data-ng-show="session.copresenter"><strong>Copresenter: </strong> {{session.copresenter}}</li>
                                <li data-ng-show="session.sessionAudience"><strong>Audience Level: </strong>{{session.sessionAudience}}</li>
                                <li data-ng-show="session.sessionLevel"><strong>Session Level: </strong>{{session.sessionLevel}}</li>
                                <li data-ng-show="session.session_length"><strong>Session Length: </strong>{{session.session_length}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div id="leader_table">
                <h3 data-ng-show="filterName">{{filterName}} Session Leaderboard</h3>

                <table data-ng-show="leaderData" class="table table-bordered">
                    <tr>
                        <th>Place</th>
                        <th>Session Title</th>
                        <th>Presenter</th>
                        <th>Length</th>
                        <th>Speaker Rating</th>

                        <th>Content Rating</th>
                        <th>Applicability Rating</th>
                        <th>Overall Rating</th>
                        <th>Total Votes</th>
                        <th data-ng-show="auth.isAuthenticated">Accept/Reject</th>
                    </tr>
                   <tbody>
                       <tr data-ng-repeat="session in leaderData" data-ng-class="{'include': (session.accepted > 0),'out': (session.accepted < 1)}" class="{{session.sessionAudience | lowercase}}">
                           <td>{{$index + 1}}</td>
                           <td><a href="#/Sessions/{{session.sessionid}}">{{session.sessionTitle}}</a></td>
                           <td>{{session.firstName}} {{session.lastName}}</td>
                           <td>{{session.session_length}}</td>
                           <td>{{session.speaker | number: 2}}</td>

                           <td>{{session.content | number: 2}}</td>
                           <td>{{session.app | number: 2}}</td>
                           <td>{{session.overall_avg | number: 2}}</td>
                           <td>{{session.votes_total}}</td>
                           <td data-ng-show="auth.isAuthenticated">
                               <a data-ng-show="session.accepted < 1" class="btn btn-success" data-ng-click="setStatus(session,1)">Accept</a>
                               <a data-ng-show="session.accepted > 0" class="btn btn-warning" data-ng-click="setStatus(session, 0)">Reject</a> </td>
                       </tr>
                   </tbody>

                </table>

            </div>

        </div>
    </div>
    <div class="review" ng-style="review.positionReviewProp" data-ng-controller="ratingsWidget" data-ng-show="review.showWidget">
        <header>
            <span class="title">{{review.data.sessionTitle}}</span>  <a class="pull-right" eat-click data-ng-click="closeReview()"><span class="glyphicon glyphicon-remove-circle"></span>&nbsp</a> </header>
        <article>
            <p>What do you think of this proposal?</p>
            <ul>
                <li><label>Content: </label> <rating class="content_rating" value="review.contentRate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating></li>
                <li><label>Speaker: </label> <rating class="speaker_rating" value="review.speakerRate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating></li>
                <li><label>Applicability: </label> <rating class="applicability_rating" value="review.applicabilityRate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating></li>
            </ul>
            <p class="form-group">
                <label for="audience">Session Audience: </label>

                    <select ng-model="review.sessionAudience" class="form-control">
                        <option selected value="">Please choose one...</option>
                        <option>Beginner</option>
                        <option>Agile Engineering</option>
                        <option>Team</option>
                        <option>Organization</option>
                        <option>Product Development</option>
                        <option>Personal Development</option>
                        <option>Other...</option>
                    </select>

            </p>
            <textarea class="form-control review-comment" data-ng-model="review.reviewComment"></textarea>
        </article>

        <footer>
            <button class="btn btn-primary btn-sm review-submit" data-session-id="{{review.data.id}}" data-ng-click="saveRating($event)">Save Rating</button>
            <a class="btn-link" href="#" data-ng-click="closeReview()" eat-click>Cancel</a>

        </footer>
    </div>
</div>
</div>