<div class="content sponsors panel">
    <div class="panel-body">
        <div class="top sponsor">
            <div class="callout">
                <h2>Sponsor</h2>
                <p>It is time to start planning for the February 22, 2014, conference, which will once again be held at the Adoba Hotel in Dearborn.  Now in it’s fifth year, this annual conference attracts over 600 agile enthusiasts and consistently sells out every year by drawing premier speakers and the highest caliber technologists in the industry.  The conference is a one day, multi-track event that covers all aspects of high performance technology solution delivery.</p>

            </div>
        </div>



        <div class="container">
            <h1>Sponsorship Levels</h1>


            <p>It is time to start planning for the February 22, 2014, conference, which will once again be held at the Adoba Hotel in Dearborn.  Now in it’s fifth year, this annual conference attracts over 600 agile enthusiasts and consistently sells out every year by drawing premier speakers and the highest caliber technologists in the industry.  The conference is a one day, multi-track event that covers all aspects of high performance technology solution delivery.</p>

            <p>Are you looking to hire professionals versed in agile? Do you have a product to sell that helps teams become or improve their ability to deliver? Please review the enclosed sponsorship prospectus to discover the benefits of partnering with us for this event.  Sponsorship opportunities are limited, and this year we have enhanced the sponsorship packages with blocks of tickets you can use to reward your highest profile customers or employees.</p>


            <h3>Sponsorship Levels</h3>

            <p>Please note, we have only one Platinum Sponsorship opportunity available this year which includes setup in the atrium entrance and introduction of the keynote speaker.</p>

            <h4>Platinum Sponsor: <span class="label label-warning">(Sold Out)</span> </h4>

            <ul>
                <li>Only 1 sponsor will be accepted at this level (first come, first served)
                <li>A 2-minute announcement during our keynote gathering
                <li>Prime location and large booth space in the atrium entry area
                <li>A speaking session on any topic that fits within our content areas
                <li>Prominent placement of your company’s banner in the conference main hall
                <li>8 complimentary registrations for the conference (a $1,192 value)
                <li>Receive contact information for all conference attendees
                <li>Top placement of your company logo on the conference web site
                <li>Marketing materials you provide will be included in bags given to every attendee
            </ul>


            <h4>Gold Level: <span class="label label-warning">(Sold Out)</span></h4>

            <ul>
                <li>High-visibility location for a large booth in the primary sponsor area
                <li>4 complimentary registrations for the conference (a $596 value)
                <li>Receive contact information for all conference attendees
                <li>Your company logo will be displayed prominently on the conference web site
                <li>Marketing materials you provide will be included in bags given to every attendee
            </ul>

            <h4>Silver level: <span class="label label-info">$1400</span> <button class="buy_now btn btn-primary" data-ng-click="buyNow()"><span class="glyphicon glyphicon-shopping-cart"></span> Purchase</button></h4>

            <ul>
                <li>A standard-size booth area in the primary sponsor area
                <li>2 complimentary registrations for the conference (a $298 value)
                <li>Your company logo will be displayed on the conference web site
                <li>Marketing materials you provide will be included in bags given to every attendee Event Sponsorship Layout

            </ul>

            <p>Below is the initial layout of tables, and sponsor booths.  The booths will be allocated first come, first serve, so please contact us with your booth request right away.</p>
            <p><img src="img/adoba_hallway.png" class="img-responsive img-thumbnail"></p>
            <p><img src="img/sponsorspace.png" class="img-responsive img-thumbnail"></p>

            <h3>Additional Sponsorship Opportunities</h3>


            <table class="table table-bordered">
                <tr>
                    <th>&nbsp;</th>
                    <th>Wi-Fi</th>
                    <th>Water</th>
                    <th>Afterglow</th>
                    <th>Coffee</th>
                </tr>
                <tr>
                    <td>Cost:</td>
                    <td>$1000</td>
                    <td>$2000</td>
                    <td>$3000</td>
                    <td>$2400</td>
                </tr>
                <tr>
                    <td># Available:</td>
                    <td>3</td>
                    <td>2</td>
                    <td>1</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td></td>
                    <td><button class="buy_now btn btn-primary" data-ng-click="buyNow()"><span class="glyphicon glyphicon-shopping-cart"></span> Purchase</button></td>
                    <td><button class="buy_now btn btn-primary" data-ng-click="buyNow()"><span class="glyphicon glyphicon-shopping-cart"></span> Purchase</button></td>
                    <td><button class="buy_now btn btn-primary" data-ng-click="buyNow()"><span class="glyphicon glyphicon-shopping-cart"></span> Purchase</button></td>
                    <td><button class="buy_now btn btn-primary" data-ng-click="buyNow()"><span class="glyphicon glyphicon-shopping-cart"></span> Purchase</button></td>
                </tr>
            </table>


            <hr>




            <h3>Contact information</h3>

            <p>To enroll as a sponsor or if you would like more information, please contact one of our Conference Co-chairs:</p>

            <p>Tom Churchwell: <a href="mailto:tchurchwell@gmail.com">tchurchwell@gmail.com</a> 248-631-9889</p>

            <p>Doug Peterson: <a href="mailto:dpeters2@ford.com">dpeters2@ford.com</a> 313-390-8089


            <p class="alert alert-success">Agile & Beyond is a not-for-profit organization. Proceeds from the Agile & Beyond 2014 Conference will support our mission to promote craftsmanship in the disciplines of agile and lean practices.</p>

        </div>


    </div>

</div>