<div class="content register panel">
    <div class="panel-body">
        <div class="top team">
            <div class="callout">
                <h1>Team</h1>
                <h2>Become a Volunteer</h2>
                <p>Since we are a totally volunteer driven group, we would love a bit of help. The simplest way to help is within your own organization spreading the word about Agile and Beyond 2014. We will share lots of information, posters and discount codes with you to share with your company or organization. If you wish to be more active, we have a number of other open positions available.</p>

            </div>
        </div>


        <div class="container">
            <table id="volunteers" class="table table-responsive">
                <thead>
                <tr>
                    <th class="position">Position</th>
                    <th class="vName">Name</th>
                    <th class="vPhone">Phone</th>
                    <th class="vEmail">Email</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Conference Organizer:</td>
                    <td>Tom Churchwell </td>
                    <td></td>
                    <td><a href="mailto:tchurchwell@gmail.com">tchurchwell@gmail.com</a></td>
                </tr>
                <tr>
                    <td>Conference Organizer:</td>
                    <td>Jason Dinkelmann</td>
                    <td></td>
                    <td><a href="mailto:jdinkelmann@gmail.com">jdinkelmann@gmail.com</a></td>
                </tr>

                <tr>
                    <td>Keynote Liaison:</td>
                    <td>Nayan Hajratwala</td>
                    <td></td>
                    <td><a href="mailto:nayan@chikli.com">nayan@chikli.com</a></td>
                </tr>
                <tr>
                    <td>Social Media / Web Site:</td>
                    <td>Jason Dinkelmann</td>
                    <td></td>
                    <td><a href="mailto:jdinkelmann@gmail.com">jdinkelmann@gmail.com</a></td>
                </tr>
                <tr>
                    <td>Registration Coordinator:</td>
                    <td>Jason Dinkelmann</td>
                    <td></td>
                    <td><a href="mailto:jdinkelmann@gmail.com">jdinkelmann@gmail.com</a></td>
                </tr>
                <tr>
                    <td>Program:</td>
                    <td>Tom Churchwell</td>
                    <td></td>
                    <td><a href="mailto:tchurchwell@gmail.com">tchurchwell@gmail.com</a></td>
                </tr>
                <tr>
                    <td>Sponsor Liaison</td>
                    <td>Tom Churchwell</td>
                    <td></td>
                    <td><a href="mailto:tchurchwell@gmail.com">tchurchwell@gmail.com</a></td>
                </tr>
                <tr>
                    <td>Treasurer/Facility Liaison:</td>
                    <td>Doug Peterson</td>
                    <td></td>
                    <td><a href="mailto:dpeters2@ford.com">dpeters2@ford.com</a></td>
                </tr>
                <tr>
                    <td>Open Space Facilitator:</td>
                    <td>Tom Churchwell</td>
                    <td></td>
                    <td><a href="mailto:tchurchwell@gmail.com">tchurchwell@gmail.com</a></td>
                </tr>

                </tbody>
            </table>
        </div>

    </div>
</div>