<div class="content register panel">
    <div class="panel-body">
        <div class="top team">
            <div class="callout">
                <h1>Team</h1>

            </div>
        </div>


        <div class="container">
            <table id="volunteers" class="table table-responsive">
                <thead>
                <tr>
                    <th class="position">Position</th>
                    <th class="vName">Name</th>
                    <th class="vPhone">Phone</th>
                    <th class="vEmail">Email</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Conference Organizer:</td>
                    <td>Tom Churchwell </td>
                    <td></td>
                    <td><a href="mailto:tchurchwell@gmail.com">tchurchwell@gmail.com</a></td>
                </tr>
                <tr>
                    <td>Conference Organizer:</td>
                    <td>Jason Dinkelmann</td>
                    <td></td>
                    <td><a href="mailto:jdinkelmann@gmail.com">jdinkelmann@gmail.com</a></td>
                </tr>

                <tr>
                    <td>Keynote Liaison:</td>
                    <td>Nayan Hajratwala</td>
                    <td></td>
                    <td><a href="mailto:nayan@chikli.com">nayan@chikli.com</a></td>
                </tr>
                <tr>
                    <td>Social Media / Web Site:</td>
                    <td>Jason Dinkelmann</td>
                    <td></td>
                    <td><a href="mailto:jdinkelmann@gmail.com">jdinkelmann@gmail.com</a></td>
                </tr>
                <tr>
                    <td>Registration Coordinator:</td>
                    <td>Jason Dinkelmann</td>
                    <td></td>
                    <td><a href="mailto:jdinkelmann@gmail.com">jdinkelmann@gmail.com</a></td>
                </tr>
                <tr>
                    <td>Program:</td>
                    <td>Jason Dinkelmann/Daniel Davis</td>
                    <td></td>
                    <td><a href="mailto:agileandbeyond@gmail.com">agileandbeyond@gmail.com</a></td>
                </tr>
                <tr>
                    <td>Sponsor Liaison</td>
                    <td>Andy Brown</td>
                    <td></td>
                    <td><a href="mailto:turbo.brown@gmail.com">turbo.brown@gmail.com</a></td>
                </tr>
                <tr>
                    <td>Treasurer/Facility Liaison:</td>
                    <td>Doug Peterson</td>
                    <td></td>
                    <td><a href="mailto:dpeters2@ford.com">dpeters2@ford.com</a></td>
                </tr>
                <tr>
                    <td>Open Space Facilitator:</td>
                    <td>Tom Churchwell</td>
                    <td></td>
                    <td><a href="mailto:tchurchwell@gmail.com">tchurchwell@gmail.com</a></td>
                </tr>
                <tr>
                    <td>Speaker/Session Coordinator:</td>
                    <td>Majd Yazbeck</td>
                    <td></td>
                    <td><a href="mailto:mnyazbeck@gmail.com">mnyazbeck@gmail.com</a></td>
                </tr>

                </tbody>
            </table>
        </div>

    </div>
</div>